<% provide(:title, @user.name) %>

<div class="row">
	<aside class="col-md-4">
		<section>
			<h1><%= @user.name %></h1>
			<%= @user.endorsements.count.to_s %> Endorsements
			<% unless current_user == @user %>
				<% if current_user.endorsing?(@user) %>
					<%= link_to "Unendorse User", user_endorsement_path(@user.id, current_user.id), :method => :delete %>
				<% else %>
					<%= link_to "Endorse User", user_endorsements_path(@user.id), :method => :post %><br>
				<% end %>
			<% end %>
			<p>
				<%= @user.phone %><br>
				<%= @user.email %><br>
			</p>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
		<section class="employees">
			<h1>Jobs</h1>
			<ul>
				<% @user.employees.each do |employee| %>
					<li><%= employee.position %></li>
					<ul>
						<li><%= employee.work_email %></li>
						<li><%= employee.employer %></li>
					</ul>
				<% end %>
			</ul>
			<% if current_user == @user %>
				<%= link_to "Add job", new_employee_path %>
			<% end %>
		</section>
		<section class="skills">
			<h2>Skills</h2>
			<ul>
				<% @user.skills.each do |skill| %>
					<li>
						<%= skill.skill + " " + skill.level.to_s %>
						<% unless current_user == @user %>
							<%= link_to "Endorse Skill", skill_endorsements_path(skill.id), :method => :post %>
						<% end %>
					</li>
				<% end %>
			</ul>
			<% if current_user == @user %>
				<%= link_to "Add Skill", new_skill_path %>
			<% end %>
		</section>
		<section class="Comments">
			<h2>Comments</h2>
			<% unless @user == current_user %>
				<h3>Post comment</h3>
				<%= render 'shared/comment_form', user: @user %>
			<% end %>
			<% if @user.comments.any? %>
				<% @user.comments.each do |comment| %>
					<p>
						Content: <%= comment.comment %><br>
						Author: <%= comment.commenter.name %>
					</p>
				<% end %>
			<% end %>
		</section>
	</aside>
	<div class="col-md-8">
		<%= render 'follow_form' if user_signed_in? %>
	</div>
</div>